<div class="users-container">
  <div class="user-card">
    <div class="user-photo">
      <%= image_tag @user.photo, alt: "#{ @user.name }'s photo" %>
    </div>
    <div class="user-details">
      <%= link_to @user.name, user_path(@user) %>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>

<div class="user-bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div class="user-posts">
  <% @posts.first(3).each do |post| %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <div class="cmt-like">
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
      </div>
    </div>
  <% end %>

  <%= link_to "See all posts", user_posts_path(@user), class: 'button', remote: true %>
</div>