<div class="new_post_container border-2 border-pink-900 rounded-2xl">
  <h1 class="m-4 font-bold text-pink-900">New post</h1>
  <%= form_with model: @post, url: user_posts_path(@user), method: :post, local: true do |f| %>
    <div class="m-4 font-bold text-pink-600">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="m-4 font-bold text-pink-600">
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </div>
    <div class="m-4 font-bold text-white w-14 h-10 border-4 bg-pink-900 border-pink-900">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
  <%= render partial: "partials/errors", locals: { errors: @post.errors } %>
</div>